.nav {
  grid-area: n;
  background-color: cornflowerblue;
  padding: 20px;
}

.item {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 2px;
}

.active{
  color: gold;
  padding: 2px;
}